@import url('http://fonts.cdnfonts.com/css/bauhaus-93');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

a:link, a:visited, a:active {
    text-decoration:none;
}
button {
  border: none; /*PARA QUITAR LOS BORDES DE LOS BOTONES*/
}

#header {
  height: 110px;
}

.imagen_logo {
  padding-left: 1200px;
  padding-top: 15px; 
}

#header .botones_inicio {
  padding-left: 150px;
  padding-top: 50px;
  float: left; /*poder alinear todo el contenido dentro del header*/
}

/*__________________BTN1_____________________*/
.btn1{
    font-size: 25px; 
    background-color: #E94E1A;  
    margin-right: 10px;
    width: 100px;
    height: 50px; 

}
.txt_btn1 {
  color: #FFFFFF;
}
/*____________________________________________*/

/*__________________BTN3_____________________*/
 .btn3{
  font-size: 25px; 
  background-color: #E30613;
  margin-left: 10px; 
  width: 100px; 
  height: 50px;
    
}
 .txt_btn3 {
color: #FFFFFF;
}
/*____________________________________________*/

/*___________________BTN 2 DESPLEGABLE__________________*/
 .btn2 {
  font-size: 25px;
  background-color: #009FE3;
  width: 250px;
  height: 50px;
}
 .txt_btn2 {
  color: #FFFFFF;
}

/*modificaciones color boton desplegable 1*/
.dropdown .desplegable_1 {
  background-color: #E94E1A;
  text-align: center;
}
.dropdown .txt_desplegable1 {
  font-size: 20px;
  color: #FFFFFF;
}

/*modificaciones color boton desplegable 2*/
.dropdown .desplegable_2 {
  background-color: #009FE3;
  text-align: center;
}
.dropdown .txt_desplegable2 {
  color: #FFFFFF;
  font-size: 20px;
}

/*modificaciones color boton desplegable 3*/
.dropdown .desplegable_3 {
  background-color: #E30613;
  text-align: center;
}
.dropdown .txt_desplegable3 {
  font-size: 20px;
  color: #FFFFFF;
}

.dropdown {
    display: inline-block;
    position: relative;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
/*_____________________________________*/


/*___________Carrusel imagenes suspensióm ___________*/

.carrusel {
    display: flex;
    flex-direction: row;    
}

.carousel-indicators {  
  margin-bottom: 10px; 
}

.carousel-inner {
    width: 600px;    
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
}

.carousel-indicators [data-bs-target]  {
  width: 20px;
  height: 20px;
  border-radius: 50%;  
}

.superiorfox {
  margin-left: 350px; /*posicion imagen*/} 

.iconosfox {
  margin-left: 0px;}


.textocarrusel h1{
  margin-top: 10px;
  font-size: 100px;  
  text-align: right;
  margin-right: 100px;
  font-family: 'Bauhaus 93', sans-serif;
  color: #E94E1A;
}


.textocarrusel p {
  margin-top: 10px;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 160px;
  text-align: justify;
  font-family: 'Inter', sans-serif;}


  /*______________TECNOLOGÍAS____________*/

.tecnologias_fox {
  display: flex;}

.tecnologias_fox img {
  margin-right: 50px;
  margin-top: 180px;
  margin-left: 200px;}


.tecnologias_fox h1 {
  font-size: 100px;
  margin-left: 80px;
  font-family: 'Bauhaus 93', sans-serif;
  color: #E94E1A;}

  .tecnologias_fox h2 {
  font-size: 50px;
  margin-left: 80px;
  text-align: justify;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;}

.tecnologias_fox p {
  font-size: 30px;
  margin-left: 80px;
  *margin-right: 400px;
  text-align: justify;
  font-family: 'Inter', sans-serif;
  padding-top: 20px;}

  /*___________PRECIOS___________*/

  .precios {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;}

  .precio_desde_fox {
    text-align: center;
    width:350px ;
    height: 500px;
    margin-left: 70px;
    box-shadow: 5px 5px 5px 5px grey;
  }

  .texto_desde {
    padding-top: 20px;
  }

  .texto_desde h1 {
    font-family: 'Inter', sans-serif;
    font-size: 55px;
    background-color: #E94E1A;
    color: #FFFFFF;
    margin-bottom: 20px;}

  .texto_desde h2 {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;}

  .texto_desde img {
    margin-bottom: 20px;
  }

  .texto_desde p{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
  }

.imagen_precios {
  margin-top: 150px;
  margin-left: 30px;
  margin-right: 30px;}

  .precio_hasta_suntour {    
    text-align: center;
    width:350px ;
    height: 500px;   
    box-shadow: 5px 5px 5px 5px grey;
    *margin-right: 550px;
  }

  .texto_hasta {
    padding-top: 20px;
  }

  .texto_hasta h1 {
    font-family: 'Inter', sans-serif;
    font-size: 55px;
    background-color: #E94E1A;
    color: #FFFFFF;
    margin-bottom: 20px;}

  .texto_hasta h2 {
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;}

  .texto_hasta img {
    margin-bottom: 20px;}

.texto_hasta p{
  font-family: 'Inter', sans-serif;
  font-size: 25px;
}

.precios_logo{
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}
.precios_logo h1 {
  font-size: 100px;  
  font-family: 'Bauhaus 93', sans-serif;
  color: #E94E1A;
  margin-bottom: 0px;
}

/*FOOTER*/
footer {
    background-color: #000000;
    width: 100%;
    height: 250px;
    margin-bottom: -25px;
    padding-top: 40px;}   

  .info_footer {
    justify-content: space-between;
    display: flex;
    margin-bottom: 0px;}

  .idioma {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 0px;}
  
  .contacto {
    float: right;
    justify-content: space-between;
    display: flex;
    width: 300px;
    height: 300px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 0px;}
  
  hr {
    margin-top: 50px;
    margin-bottom: 50px;}