@import url('http://fonts.cdnfonts.com/css/bauhaus-93');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

a:link, a:visited, a:active {
    text-decoration:none;
}
button {
  border: none; /*PARA QUITAR LOS BORDES DE LOS BOTONES*/
}

#header .imagen_logo {
  padding-left: 1700px;
  padding-top: 15px; 
  
}

#header .logo {
    padding-left: 1700px;/*correr el logo a la izquierda*/
}

#header .botones_inicio {
  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 30px;
  float: left; /*poder alinear todo el contenido dentro del header*/
}

/*__________________BTN1_____________________*/
.btn1{
    font-size: 35px; 
    background-color: #E94E1A;  
    margin-right: 20px;
    width: 200px;
    height: 55px; 

}
.txt_btn1 {
  color: #FFFFFF;
}
/*____________________________________________*/

/*__________________BTN3_____________________*/
 .btn3{
  font-size: 35px; 
  background-color: #E30613;
  margin-left: 20px; 
  width: 200px; 
  height: 55px;
    
}
 .txt_btn3 {
color: #FFFFFF;
}
/*____________________________________________*/

/*___________________BTN 2 DESPLEGABLE__________________*/
 .btn2 {
  font-size: 35px;
  background-color: #009FE3;
  width: 250px;
  height: 55px;
}
 .txt_btn2 {
  color: #FFFFFF;
}

/*modificaciones color boton desplegable 1*/
.dropdown .desplegable_1 {
  background-color: #E94E1A;
  text-align: center;
  
  
}
.dropdown .txt_desplegable1 {
  font-size: 30px;
  color: #FFFFFF;
}

/*modificaciones color boton desplegable 2*/
.dropdown .desplegable_2 {
  background-color: #009FE3;
  text-align: center;
}
.dropdown .txt_desplegable2 {
  color: #FFFFFF;
  font-size: 30px;
}

/*modificaciones color boton desplegable 3*/
.dropdown .desplegable_3 {
  background-color: #E30613;
  text-align: center;
}
.dropdown .txt_desplegable3 {
  font-size: 30px;
  color: #FFFFFF;
}

.dropdown {
    display: inline-block;
    position: relative;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }
/*_____________________________________*/



.foro_inicial {
  text-align: center;
}
.txt_1 {
  font-size: 150px;  
  text-align: center;
  font-family: 'Bauhaus 93', sans-serif;
  color: #E94E1A;
  
}

.txt_2 {
  font-size: 130px;  
  text-align: center;
  font-family: 'Bauhaus 93', sans-serif;
  color: #009FE3;
  margin-top: -40px;
}

.txt_3 {
  font-size: 110px;  
  text-align: center;
  font-family: 'Bauhaus 93', sans-serif;
  color: #E30613;
  margin-top: -20px;
}

.foro_inicial p {
  font-size: 40px;
  padding-left: 800px;  
  padding-right: 800px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

/*_________Comparte tu experiencia_________*/

.comparte_tu_experiencia {
  text-align: center;
  display: flex; /*centrar todos los elementos del padre*/
  justify-content: center;
  flex-wrap: wrap;
}

.comparte_tu_experiencia h1 {
  font-size: 96px;  
  font-family: 'Bauhaus 93', sans-serif;
  color: #E30613;
}

.comparte_tu_experiencia p {
  font-size: 30px;
  padding-left: 800px;  
  padding-right: 800px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.comentario {  
  width: 1200px;
  height: 400px;
  background-color: #E30613;
}

.nombre_persona input{
  margin-top: 50px;
  margin-right: 700px;
  font-size: 35px;
  border-radius: 15px;
} 

.descripcion  {
  display: flex;
}

.descripcion textarea {
  margin-top: 40px;
  margin-right: 100px;
  font-size: 35px;
  border-radius: 15px;
  margin-left: 150px;
}

.comentario button {
  border-radius: 150px;
  background-color:#E30613 ;
}

.comentario button:hover {
  background-color: #FFFFFF;
}




.ultimos_comentarios h1{
  margin-left: 150px;
  font-size: 96px;  
  font-family: 'Bauhaus 93', sans-serif;
  color: #009FE3;
  *margin-bottom: 150px;
}

.ultimos_comentarios p{
  margin-left: 250px;
  font-size: 30px;  
  font-family: 'Inter', sans-serif;
  margin-bottom: 50px;
}

.comentarios_otro {
  width: 1500px;
  height: 250px;
  box-shadow: 5px 5px 5px 5px grey;
  
  border-radius: 150px;
  margin-left: 150px;
  display: flex;
}

.comentarios_otro h1 {
  color: #000000;
  font-size: 60px;  
  font-family: 'Inter', sans-serif;
  padding-top: 15px;
  margin-bottom: 25px;
}
.comentarios_otro img {
padding-top: 10px;
padding-right: 15px;
}

.nombre_usuario {
  display: flex;
  flex-direction: column;
}


.comentario_usuario {
  margin-left: -170px;
  margin-right: 100px;
}









































/*FOOTER*/
footer {
  background-color: #000000;
  width: 100%;
  height: 250px;
  margin-top: 150px; /*<-------------- revisar espaciado del footer*/
  margin-bottom: -25px;
  padding-top: 40px;  
} 
.info_footer {
  justify-content: space-between;
  display: flex;
  margin-bottom: 0px;
}
.idioma {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.contacto {
  float: right;
  justify-content: space-between;
  display: flex;
  width: 300px;
  height: 300px;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 0px;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
}










