@import url('http://fonts.cdnfonts.com/css/bauhaus-93');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.foro_inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.txt_1,
.txt_2,
.txt_3 {
  text-align: center;
  font-family: 'Bauhaus 93', sans-serif;
  margin: -10px 0 0 0;
}
.txt_1 {
  font-size: 13vw;
  color: #E94E1A;
}
.txt_2 {
  font-size: 12vw;
  color: #009FE3;
}
.txt_3 {
  font-size: 11vw;
  color: #E30613;
}
.foro_inicial p {
  width: 60vw;
  font-size: 3vw;
  font-family: 'Inter', sans-serif;
}
.foro_inicial img {
  width: 80vw;
}
.comparte_tu_experiencia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.comparte_tu_experiencia h1 {
  font-size: 13vw;
  font-family: 'Bauhaus 93', sans-serif;
  color: #E30613;
  line-height: 12vw;
  margin-bottom: 20px;
}
.comparte_tu_experiencia p {
  width: 70vw;
  font-size: 3vw;
  font-family: 'Inter', sans-serif;
}
.comentario {
  background-color: #E30613;
  width: 100vw;
  padding: 4vw 12vw;
}
.nombre_persona {
  text-align: left;
  margin-bottom: 5vw;
}
.nombre_persona input {
  padding-left: 15px;
  border-radius: 15px;
  border-color: #FFFFFF;
}
.descripcion {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.descripcion textarea {
  padding-left: 15px;
  border-radius: 15px;
  width: 60vw;
  border-color: #FFFFFF;
}
.descripcion button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #E30613;
}
.descripcion img {
  width: 10vw;
}
.ultimos_comentarios {
  margin: 5vw 10vw;
}
.ultimos_comentarios h1 {
  font-family: 'Bauhaus 93', sans-serif;
  color: #009FE3;
  font-size: 8vw;
}
.ultimos_comentarios p {
  font-family: 'Inter', sans-serif;
  font-size: 3vw;
}
.comentarios_otro {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(128, 128, 128);
  padding: 3vw;
}
.comentarios_otro hr {
  width: 70vw;
  margin: 2vw;
}
.nameAndPhoto {
  display: flex;
  align-items: center;
}
.nameAndPhoto img {
  width: 10vw;
  margin-right: 5vw;
}
.comentarios_otro h1 {
  color: grey;
  font-family: 'Inter', sans-serif;
  font-size: 5vw;
  margin: 0;
}
.comentarios_otro p { 
  text-align: justify;
  margin: 0; 
}
@media screen and (min-width: 570px) {
  .txt_1 {
    font-size: 5vw;
  }
  .txt_2 {
    font-size: 4.5vw;
  }
  .txt_3 {
    font-size: 4vw;
    margin-top: -4px;
  }
  .foro_inicial p {
    width: 40vw;
    font-size: 1.5vw;
  }
  .foro_inicial img {
    width: 40vw;
  }
  .comparte_tu_experiencia h1 {
    font-size: 5vw;
    margin: 0;
  }
  .comparte_tu_experiencia p {
    font-size: 1.5vw;
    width: 40vw;
  }
  .comentario {
    margin: 5vw 0;
    padding: 4vw 20vw;
  }
  .nombre_persona {
    margin: 1vw 0;
  }
  .nombre_persona input {
    width: 15vw;
    font-size: 1.5vw;
  }
  .descripcion textarea {    
    width: 40vw;
    font-size: 1.5vw;    
  }
  .descripcion img {
    width: 5vw;
    margin-right: 5vw;
  }
  .ultimos_comentarios h1 {
    font-size: 5vw;
  }
  .ultimos_comentarios p {   
    font-size: 1.5vw;
  }
  .nameAndPhoto img {
    width: 6vw;
  }
  .comentarios_otro {
    margin: auto;
    width: 60vw;
    padding: 2vw;
  }
  .comentarios_otro hr {
    width: 50vw;
    margin: 2vw;
  }
  .comentarios_otro h1{
    font-size: 3vw;
  }

}